body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#board {
    height: 540px;
    width: 590px;
    background-color: #27292A;
    border: 10px solid #27292A;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    /* Circle */
    background-color: rgba(255, 255, 255, 0.748);
    border-radius: 50%;
    border: 5px solid #27292A;
}

.red-piece {
    background-color: red;
}

.yellow-piece {
    background-color: yellow;
}
